@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (min-width: 414px) and (max-width: 1099px) {
    .footer-menu-list:first-of-type {
        margin-right: 60px;
    }
}

@media (max-width: 1099px) {
    .container-fluid {
        padding-left: 70px;
        padding-right: 70px;
    }
    .footer-wrap {
        flex-wrap: wrap;
    }
    .footer-contacts {
        margin-left: auto;
    }
}

@media (max-width: 919px) {
    footer {
        background: #222 url(../img/bg/bg-footer-sm@2x.png) no-repeat top center;
    }
    .footer-copyright-logo {
        margin-bottom: 15px;
    }
    .footer-copyright {
        width: 100%;
        margin-bottom: 55px;
    }
}

@media (max-width: 667px) {
    .footer-contacts {
        width: calc(100% - 10px);
        margin-top: 38px;
        padding-top: 35px;
        text-align: center;
        border-top: 2px solid #323130;
        br {
            display: none;
        }
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-menu {
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media (max-width: 414px) {
    .footer-copyright {
        margin-bottom: 65px;
    }
    .footer-menu-item:not(:last-of-type) {
        margin-bottom: 23px;
    }
    .footer-menu {
        width: 100%;
        justify-content: space-between;
    }
    .footer-contacts-item:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

@media (min-width: 668px) {
    .footer-menu-list {
        padding-top: 5px;
    }
    .footer-contacts {
        flex-basis: 200px;
    }
}

@media (min-width: 920px) {
    footer {
        height: 335px;
        background: #222 url(../img/bg/bg-footer.jpg) no-repeat top center;
    }
    .footer-copyright {
        padding-top: 45px;
        padding-left: 60px;
        padding-right: 60px;
        order: 2;
        flex: 1;
    }
}

@media (min-width: 1100px) {
    .footer-menu-list:first-of-type {
        margin-right: 100px;
    }
}
