@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header-home::before {
        background: #212121 url(../img/bg/bg-left-header@2x.jpg) no-repeat top center;
        background-size: 665px;
    }
    .home .wrapper {
        background-image: url(../img/bg/bg-pre-top@2x.jpg), url(../img/bg/bg-pre-footer@2x.jpg);
    }
    .page .wrapper {
        background-image: url(../img/bg/bg-pre-top@2x.jpg);
    }
}

@media (max-width: 1919px) {
    .header-media-second {
        display: none;
    }
}

@media (max-width: 1599px) {
    .catalog-item-option::before,
    .catalog-item-option::after {
        right: 19px;
    }
    
    .contacts-map .pin {
        width: 30px;
        height: 30px;
    }
    
    .catalog-item-order {
        height: 50px;
        display: flex;
        justify-content: center;
    }
    
    .catalog-item-order-basket {
        right: 15px;
    }
    
    .catalog-item-bottom::before {
        width: 65px;
    }
}

@media (max-width: 1339px) {
    .header-product-list {
        height: 310px;
        overflow: hidden;
    }
    
    .instagram-left .first, .instagram-right .third {
        display: none;
    }
}

@media (max-width: 1270px) {
    .catalog-sidebar {
        width: 100%;
        height: 100%;
        padding-top: 31px;
        padding-left: 145px;
        top: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        z-index: 35;
        box-shadow: 0 0 8px rgba(#000, .1);
        transition: all 0.7s ease;
        transition-delay: .3s;
        opacity: 0;
        transform: translateX(-100%);
        max-width: 494px;
        flex-basis: 494px;
        &::before {
            background: #FFFFFF url(../img/bg/bg-catalog-sidebar-sm@2x.jpg) no-repeat top center;
        }
    }
    .catalog-sidebar-head {
        margin-bottom: 55px;
        line-height: 1;
        position: relative;
        font-weight: 600;
        @include font-size(52px)
    }
    .catalog-sidebar-close {
        width: 85px;
        height: 52px;
        background: $colorDark;
        border-radius: 100px;
        position: absolute;
        right: -78px;
        top: 7px;
        cursor: pointer;
        transition: all 0.3s ease;
        .cancel {
            width: 16px;
            height: 16px;
            fill: #fff;
            position: absolute;
            top: 18px;
            right: 48px;
        }
        &:hover, &:focus {
            transform: translateX(-5px);
        }
    }
    
    .catalog-sidebar-logo {
        display: none;
    }
    
    .catalog-sidebar, .box-heading, .mfilter-heading, .list-group-item, .list-group .active, .mfilter-tb-as-td {
        color: $colorDark;
    }
    .list-group .active::after {
        background-color: $colorDark;
    }
    .mfilter-input-active label.mfilter-tb-as-td {
        border-bottom-color: $colorDark;
    }
    .mfilter-box .form-control {
        background: #F9F9F9;
        border-bottom: 1px solid #939190;
    }
    .mfilter-box .form-control {
        color: #2A2928;
        &:focus {
            border-bottom-color: #2A2928;
        }
    }
    .box-heading, .mfilter-heading {
        margin-bottom: 27px;
    }
    .list-group {
        margin-bottom: 58px;
    }
    .mfilter-tb {
        align-items: flex-start;
    }
    .mfilter-tb-as-tr {
        min-width: 24px;
        text-align: center;
    }
    .mfilter-filter-item:not(:last-of-type) {
        margin-bottom: 50px;
    }
    .mfilter-price .mfilter-heading {
        margin-bottom: 33px;
    }
    
    .catalog-header {
        margin-bottom: 74px;
        .header-nav-toggle .menu-options {
            fill: $colorDark;
        }
    }
    
    .catalog-head {
        padding-left: 55px;
        position: relative;
        .btn {
            margin-top: 0;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
    .filter-icon-wrap {
        width: 74px;
        height: 52px;
        background: #F3F0EE;
        border-radius: 100px;
        position: absolute;
        left: -40px;
        top: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        .filter-icon {
            position: absolute;
            top: 16px;
            right: 19px;
            width: 20px;
            height: 20px;
            fill: $colorDark;
        }
    }
    
    .catalog-content h1 {
        margin-bottom: 72px;
        @include font-size(44px);
    }
    .catalog-item {
        margin-bottom: 50px;
    }
    .catalog-item-media {
        height: 277px;
        background-size: 168px 212px;
    }
    .catalog-item-hearth {
        top: 11px;
        right: 13px;
    }
    
    .catalog-item-container:hover .catalog-item-media {
        background-position-y: -44px;
        background-size: 247px 313px;
    }
    
    .added-bag {
        height: 100px;
    }
    .added-bag-text {
        padding-right: 60px;
        padding-left: 60px;
        &::before {
            top: 8px;
            left: 5px;
        }
    }
    .added-bag-close {
        display: none;
    }
}

@media (max-width: 839px) {
    .fashion-news-item:not(:first-of-type):not(:last-of-type) {
        display: none;
    }
}

@media (max-width: 1099px) {
    .added-bag::before {
        width: 91px;
        height: 3px;
        background-color: #D8D8D8;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .catalog-sidebar-fixed {
        position: relative;
    }
    
    .catalog-item-option {
        width: calc(100% - 30px);
        right: 15px;
    }
    .catalog-item-option label:not(.input) {
        @include font-size(16px);
    }
    .catalog-item-option .input {
        @include font-size(16px);
    }
    .catalog-item-option label:not(:first-of-type):not(:last-of-type) {
        margin-right: 10px;
    }
    .catalog-item-option .input span {
        margin-bottom: 3px;
    }
    .catalog-item-option::before,
    .catalog-item-option::after {
        right: 20px;
    }
    
    .checkout-left-column {
        order: 2;
    }
    
    .contacts-container {
        flex-direction: column;
    }
    
    .about-company-statistic__count {
        @include font-size(27px);
    }
    
    .about-company-statistic {
        margin-bottom: 35px;
    }
    
    .about-company-title {
        margin-bottom: 42px;
    }
    
    .hidden-sm {
        display: none;
    }
    
    .link-back {
        display: none;
    }
    
    h1, .h1 {
        @include font-size(44px);
    }
    
    h2, .h2 {
        @include font-size(27px);
    }
    
    h3, .h3 {
        @include font-size(22px);
    }
    
    .container, .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .header-home {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
    
    .footer-wrap {
        flex-wrap: wrap;
    }
    .footer-contacts {
        margin-left: auto;
    }
    
    .header-nav {
        display: flex;
    }
    .nav-wrap {
        width: 100%;
        height: 100vh;
        padding-top: 170px;
        position: fixed;
        top: 0;
        left: 0;
        color: $colorWhite;
        background: $colorWhite url(../img/bg/bg-nav.jpg) no-repeat top center;
        background-size: cover;
        overflow: hidden;
        z-index: 15;
        display: flex;
        transform: translateX(-100%);
        transition: transform 300ms linear;
        will-change: transform;
    }
    .nav-pages {
        width: 50%;
        padding-top: 50px;
        padding-left: 65px;
        color: $colorDark;
        background-color: $colorWhite;
        position: relative;
        z-index: 6;
        transition: all 300ms linear;
        transition-delay: 600ms;
    }
    .nav-products {
        width: 50%;
        height: 100%;
        padding-top: 50px;
        padding-left: 50px;
        background-color: $colorDark;
        color: $colorWhite;
        position: relative;
        z-index: 5;
        transform: translateX(-100%);
        transition: transform 300ms linear;
        transition-delay: 350ms;
        .menu-item {
            color: $colorWhite;
        }
    }
    .nav-title {
        margin-bottom: 65px;
        line-height: 1;
        font-weight: 600;
        @include font-size(30px)
    }
    .menu {
        flex-direction: column;
    }
    .menu-active .menu-link {
        text-decoration: underline;
    }
    .menu-item {
        @include font-size(22px);
    }
    .header-nav-toggle {
        cursor: pointer;
        align-self: flex-start;
        .menu-options {
            width: 20px;
            height: 20px;
            fill: $colorWhite;
            position: relative;
            top: -3px;
        }
    }
    .nav-wrap-opened {
        transform: translateX(0);
        .nav-products {
            transform: translateX(0);
        }
        .nav-pages {
            background-color: transparent;
        }
    }
    .menu-catalog {
        display: none;
    }
    
    .header-catalog {
        display: none;
    }
    
    .home-sales {
        padding-top: 51px;
        &::before, &::after {
            height: 3px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            content: '';
        }
        &::before {
            width: 110px;
            background-color: $colorLight;
            top: 0;
        }
        &::after {
            width: 150px;
            background-color: $colorDark;
            top: 13px;
        }
    }
    .sales-left, .sales-right {
        width: calc(100% - 30px);
        height: 307px;
        padding-top: 68px;
        padding-right: 6%;
        padding-left: 41%;
        bottom: 0;
        left: 15px;
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease;
        background-size: 200px;
        background-position: 15% 0;
    }
    .sales-active {
        opacity: 1;
        z-index: 3;
    }
    .sales-title {
        @include font-size(21px);
    }
    .sales-control-left, .sales-control-right {
        top: 74px;
    }
    
    .view-catalog {
        flex-wrap: wrap;
    }
    .view-catalog-item {
        position: relative;
        img {
            margin-left: 12px;
            margin-bottom: 0;
        }
        &:first-of-type img {
            margin-left: 25px;
        }
    }
    .view-catalog-media {
        height: 175px;
        margin-bottom: 0;
        &::before {
            background-position: -21px 10px;
            background-size: 175px;
        }
    }
    .catalog-final-title {
        @include font-size(44px);
    }
    .view-catalog-title {
        top: 68px;
        left: 127px;
        position: absolute;
        margin-bottom: 0;
        z-index: 5;
        pointer-events: none;
        @include font-size(22px)
    }
    .view-catalog-text {
        margin-bottom: 13px;
    }
    .catalog-final .view-catalog {
        margin-bottom: 24px;
    }
    
    .fashion-news-title {
        @include font-size(44px);
    }
    
    .popular-items-slider {
        height: 330px;
    }
    .popular-items-slide::before {
        height: 244px;
        top: 52px;
    }
    .popular-items-media {
        width: 258px;
        margin-left: 40px;
        padding-right: 12px;
        padding-bottom: 12px;
        flex: 1 0 258px;
    }
    
    .popular-items-content {
        padding-top: 70px;
        padding-left: 45px;
        display: flex;
        flex-wrap: wrap;
    }
    .popular-items-title {
        @include font-size(44px);
    }
    .popular-items-desk {
        margin-bottom: 25px;
        @include font-size(24px);
    }
    .popular-items-view {
        margin-right: 20px;
    }
    .popular-items-price {
        margin-bottom: 0;
        position: relative;
        top: -10px;
    }
    .swiper-pagination {
        bottom: -54px;
        left: 137px;
    }
    .swiper-pagination-bullet {
        margin-right: 12px;
    }
    .popular-items {
        margin-bottom: 112px;
    }
    .popular-items-prev, .popular-items-next {
        top: 142px;
    }
    .popular-items-prev {
        left: 31px;
    }
    .popular-items-next {
        left: 316px;
    }
    
    .header-page-logo {
        margin-right: 123px;
    }
    
    .page-content {
        margin-bottom: 140px;
    }
    
    .sales-item {
        height: 307px;
    }
    
    .nav-pages .menu-item {
        color: #2A2928;
    }
    .catalog-header,
    .header-page .nav-wrap {
        width: 100%;
        left: 0;
    }
    
    .popular-items-bottom {
        margin-left: auto;
    }
}

@media (max-width: 919px) {
    footer {
        background: #222 url(../img/bg/bg-footer-sm@2x.png) no-repeat top center;
    }
    .footer-copyright-logo {
        margin-bottom: 20px;
    }
    .footer-copyright {
        width: 100%;
        margin-bottom: 67px;
    }
}

@media (max-width: 767px) {
    .popular-items-desk {
        max-width: 100%;
    }
    
    .catalog-head {
        padding-left: 63px;
    }
    .filter-icon-wrap {
        left: -35px;
    }
    .catalog-head .btn {
        display: none;
    }
    
    .header-media {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
    .popular-items {
        top: 0;
    }
    .popular-items-slider {
        height: 650px;
    }
    .popular-items-slide {
        padding-top: 144px;
        flex-direction: column;
        &::before {
            height: 244px;
            top: 196px;
            left: 50%;
            margin-left: -100px;
            transform: translateX(-50%);
        }
    }
    .popular-items-media {
        height: 330px;
        width: 100%;
        max-width: 414px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 32px 15px 67px;
        flex: none;
        &::after {
            right: 20px;
        }
    }
    .popular-items-title {
        position: absolute;
        top: 41px;
        left: 0;
        z-index: 6;
    }
    .popular-items-desk {
        position: relative;
        z-index: 6;
        font-weight: 400;
        @include font-size(19px);
    }
    .popular-items-content {
        padding-top: 26px;
        padding-left: 0;
    }
    .popular-items-price {
        z-index: 6;
        top: -2px;
        @include font-size(32px)
    }
    .popular-items-view {
        margin-right: 15px;
    }
    .popular-items-bottom {
        z-index: 6;
    }
    .swiper-pagination {
        display: none;
    }
    .popular-items {
        margin-bottom: 60px;
    }
    .popular-items-prev, .popular-items-next {
        top: 290px;
    }
    .popular-items-prev {
        left: 11px;
    }
    .popular-items-next {
        right: 14px;
        left: auto;
    }
    
    .sales-item {
        width: 100%;
    }
    .sales-item {
        padding-left: 30%;
    }
}

@media (max-width: 667px) {
    .hidden-668 {
        display: none;
    }
    
    .footer-contacts {
        width: calc(100% - 10px);
        margin-top: 40px;
        padding-top: 35px;
        text-align: center;
        border-top: 2px solid #323130;
        br {
            display: none;
        }
    }
    .container, .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-menu {
        margin: 0 auto;
        padding: 0 10px;
    }
    .added-bag {
        height: auto;
        min-height: 82px;
        padding-top: 10px;
        flex-direction: column;
    }
    .added-bag-checkout {
        height: auto;
        border: 0;
        margin: 0 auto;
        padding: 0;
    }
    .added-bag-text {
        margin-bottom: 10px;
        padding-right: 0;
        padding-left: 20px;
        &::before {
            width: 19px;
            height: 10px;
            top: 6px;
            left: -18px;
        }
    }
}

@media (max-width: 567px) {
    .menu-item {
        @include font-size(19px);
    }
    
    .wrapper {
        padding-top: 70px;
    }
    
    .contacts-wrap {
        max-width: 100%;
        overflow: hidden;
    }
    
    .contacts-wrap::before {
        height: 851px;
        background-size: contain;
        top: 0;
        left: 0;
    }
    
    .catalog-item-cost-old {
        margin-left: auto;
    }
    
    .contacts-form {
        padding-top: 24px;
        .ui-group {
            margin-bottom: 18px;
        }
    }
    .contacts-form-title {
        margin-bottom: 40px;
    }
    .contacts-form::before {
        left: 84px;
    }
    
    .catalog-item-option {
        display: none;
    }
    .catalog-item-bottom {
        height: 67px;
        padding-right: 15px;
        position: absolute;
        bottom: -8px;
        right: 3px;
        border: 0;
        flex-direction: column;
        justify-content: flex-start;
        &::before {
            display: none;
        }
    }
    
    .contacts-map {
        margin: 4px auto;
        width: 600px;
        min-height: 380px;
        left: 50%;
        transform: translateX(-50%);
    }
    .contacts-block {
        width: calc(100% - 15px);
        margin-left: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 53px;
        &::before {
            width: 65px;
            height: 65px;
            top: -13px;
            left: -15px;
        }
    }
    .contacts-block-item:not(:last-of-type) {
        margin-bottom: 38px;
    }
    
    .about-company-statistic-item {
        max-width: 236px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 21px;
        &:not(:last-of-type) {
            border-bottom: 1px solid #E9E9E9;
        }
    }
    
    .about-company-statistic {
        padding: 10px 0;
        flex-direction: column;
    }
    
    h1, .h1 {
        line-height: 42px;
    }
    
    .news-inner .pull-left {;
        max-width: 100%;
        margin-bottom: 25px;
        float: none;
    }
    
    .catalog {
        padding-top: 0;
        .icon-hearth,
        .icon-basket {
            .count-products {
                color: #fff;
                background-color: $colorDark;
            }
        }
        .nav-wrap {
            max-width: 100%;
            left: 0;
        }
    }
    .catalog-item-media {
        height: 307px;
        margin-bottom: 13px;
    }
    .catalog-item-title {
        font-weight: 300;
        padding-right: 90px;
    }
    
    .catalog-sidebar {
        padding-top: 27px;
        padding-left: 15px;
        max-width: 100%;
        flex-basis: 100%;
    }
    .catalog-sidebar-head {
        margin-bottom: 2px;
        @include font-size(44px);
    }
    .catalog-sidebar-close {
        right: -81px;
        top: 2px;
    }
    .list-group-item:not(:last-of-type) {
        margin-bottom: 24px;
    }
    .mfilter-filter-item:not(:last-of-type) {
        max-width: 105px;
        top: 123px;
        right: 0;
        position: absolute;
    }
    .mfilter-option:not(:last-of-type):not(li) {
        margin-right: 28px;
    }
    .catalog-item-order-basket {
        right: 22px;
    }
    .catalog-item-hearth {
        top: 14px;
        right: 20px;
    }
    .catalog-item {
        width: 100%;
        margin-bottom: 60px;
    }
    
    .hidden-sx {
        display: none;
    }
    
    .header-home {
        height: 558px;
        overflow: hidden;
        &::before {
            width: 100%;
        }
    }
    .header-home-title {
        margin-top: 65px;
        margin-bottom: 17px;
        line-height: 37px;
        @include font-size(39px);
    }
    .header-home-text {
        margin-bottom: 55px;
    }
    .header-nav {
        padding-top: 3px;
        flex: 0;
        margin-left: auto;
    }
    .nav-wrap {
        padding-top: 130px;
    }
    .nav-pages {
        padding-top: 23px;
        padding-left: 15px;
    }
    .nav-products {
        height: 373px;
        padding-top: 23px;
        padding-left: 25px;
    }
    .nav-title {
        margin-bottom: 45px;
    }
    .header-catalog-icons {
        margin-left: 0;
        padding-top: 0;
    }
    .header-home-icons {
        margin-left: 0;
        padding-top: 0;
        svg {
            fill: #ffffff;
        }
    }
    .icon-search {
        display: none;
    }
    .icon-basket, .icon-hearth {
        .count-products {
            color: $colorDark;
            background-color: $colorWhite;
        }
        &:hover .count-products {
            box-shadow: 0 0 0 3px #ffffff;
        }
    }
    .header-media-first {
        width: 230px;
        height: 440px;
        background: url(../img/example/img-01-xs.png) no-repeat;
        &::before {
            width: 171px;
            height: 217px;
            left: 22%;
            top: 18%;
        }
        img {
            display: none;
        }
    }
    .header-home-panel {
        padding-top: 35px;
    }
    .header-home-logo {
        width: 135px;
    }
    .header-down {
        position: absolute;
        left: 50%;
        bottom: 21px;
        transform: translateX(-50%);
        &::before {
            height: 31px;
            background-color: #ffffff;
        }
        &::after {
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
    }
    .header-search-nav {
        padding-top: 28px;
    }
    .header-modal-inner {
        padding: 28px 15px;
    }
    .header-modal-title {
        margin-bottom: 0;
        @include font-size(44px);
    }
    .header-product-content {
        padding-bottom: 30px;
    }
    .header-modal-cancel {
        top: 48px;
        right: 16px;
    }
    .header-product-list {
        height: 268px;
        margin-bottom: 10px;
    }
    .product-content-prev {
        margin-bottom: 8px;
    }
    .header-product-media {
        width: 94px;
        height: 120px;
        &::before {
            background-position: 10px 10px;
            content: '';
        }
    }
    .header-product-close {
        top: -3px;
        right: 3px;
    }
    .header-product-title {
        margin-right: 35px;
    }
    .header-product-info {
        padding-right: 0;
    }
    .header-product-add-text {
        display: none;
    }
    .header-modal-total {
        font-size: 22px;
    }
    .modal-basket-empty {
        padding-bottom: 0;
        top: -50px;
        position: relative;
    }
    .modal-basket-empty__text {
        margin-bottom: 30px;
        line-height: 21px;
        @include font-size(22px);
    }
    
    .home-sales {
        margin-bottom: 99px;
        padding-top: 377px;
    }
    .sales-all {
        display: none;
    }
    .sales-left, .sales-right {
        padding-right: 25px;
        padding-left: 150px;
    }
    .sales-left, .sales-right {
        background-position: -23% 0;
    }
    .sales-control-left, .sales-control-right {
        top: 93px;
    }
    .sales-title {
        @include font-size(18px);
    }
    .sales-control-current.sales-control-left {
        top: 92px;
    }
    
    .sales-price-cost {
        @include font-size(32px)
    }
    .sales-price-old {
        @include font-size(20px)
    }
    
    .view-catalog {
        flex-direction: column;
    }
    .view-catalog-item {
        min-width: 0;
        border-bottom: 2px solid #F3F0EE;
        margin-bottom: 13px;
    }
    .catalog-final {
        margin-bottom: 107px;
    }
    .catalog-final-title {
        margin-bottom: 54px;
    }
    .catalog-final-more {
        padding: 39px 10px 30px;
        .title {
            @include font-size(28px);
        }
    }
    
    .about-shop {
        margin-bottom: 97px;
    }
    .about-shop-content {
        padding: 45px 15px 59px 30px;
        &::after {
            width: 158px;
        }
    }
    .about-shop-media {
        display: none;
    }
    .about-shop-title {
        @include font-size(27px)
    }
    .about-shop-text {
        margin-bottom: 42px;
    }
    
    .fashion-news {
        margin-bottom: 99px;
    }
    .fashion-news-title {
        margin-bottom: 60px;
    }
    .news-item-media {
        margin-bottom: 8px;
    }
    .fashion-news {
        position: relative;
        padding-bottom: 80px;
        .title-all {
            bottom: 0;
            left: 15px;
            position: absolute;
        }
    }
    .fashion-news-item {
        margin: 0 auto;
    }
    
    .instagram-left {
        display: none;
    }
    .instagram-right {
        max-width: 52%;
        flex: 1 1 52%;
        .second {
            position: absolute;
            left: 122px;
        }
    }
    .instagram-center {
        padding: 25px 7% 0;
        line-height: 22px;
    }
    .instagram-followers {
        margin: 3px 0 23px;
    }
    
    .footer-menu-list {
        margin-right: 25px;
    }
    
    .catalog-header {
        margin-bottom: 64px;
    }
    .header-page-panel {
        height: 91px;
        padding-top: 34px;
    }
    .header-page-logo {
        max-width: 135px;
        margin-right: 0;
    }
    
    .page-content-title {
        margin-bottom: 41px;
    }
    
    .sales-item {
        padding-top: 67px;
        padding-left: 43%;
    }
    .sales-item-img {
        width: 220px;
        left: -20%;
    }
    
    .page-content {
        margin-bottom: 110px;
    }
    
    .footer-contacts-title {
        @include font-size(23px);
    }
    
    .checkout-head {
        padding-left: 140px;
    }
    .checkout-head .link-back {
        display: block;
        top: 40px;
    }
    .checkout-content::before {
        display: none;
    }
    .checkout-side {
        padding-top: 33px;
        position: relative;
        &::before {
            width: 50px;
            height: 251px;
            top: 55px;
            border-top: 3px solid #2A2928;
            left: 17px;
            border-left: 3px solid #2A2928;
            position: absolute;
            content: '';
        }
    }
    .checkout-side-list {
        padding-left: 31px;
        height: auto;
        .header-product-media {
            width: 113px;
            height: 141px;
        }
    }
    .checkout-head-info {
        margin-bottom: 40px;
        text-align: right;
    }
    .checkout-head .link-back-text {
        padding-left: 21px;
    }
    .checkout-info {
        margin-bottom: 68px;
        flex-direction: column;
    }
    .checkout-content {
        padding-left: 0;
        padding-top: 57px;
        &::after {
            width: 92px;
            bottom: 126px;
            left: 0;
            border-bottom: 3px solid #F3F0EE;
        }
    }
    .checkout-info-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .radio {
            min-width: 145px;
            &:not(:last-of-type) {
                margin-bottom: 45px;
            }
        }
        &:first-of-type {
            margin-bottom: 60px;
            .radio {
                width: 100%;
                &:not(:last-of-type) {
                    margin-bottom: 32px;
                }
            }
        }
    }
    .checkout-info-title {
        margin-bottom: 43px;
        width: 100%;
    }
    .checkout-form-fields {
        margin-bottom: 38px;
        padding-right: 0;
    }
    .checkout-form-fields .ui-group {
        margin-bottom: 15px;
        max-width: 100%;
        flex-basis: 100%;
    }
    .checkout-form-total {
        flex-direction: column;
    }
    .checkout-form-total .total {
        padding-right: 30px;
        align-self: flex-end;
    }
    .checkout-form-total .btn {
        margin-left: 0;
        margin-top: 48px;
    }
}

@media (max-width: 460px) {
    .news-item:not(:last-of-type) {
        margin-bottom: 45px;
    }
}

@media (max-width: 440px) {
    .header-media {
        right: -51px;
    }
}

@media (max-width: 414px) {
    .popular-items-slide::before {
        left: 97px;
        margin-left: 0;
    }
    
    .header-home-icons .icon-hearth, .header-catalog-icons .icon-hearth {
        margin-top: 1px;
    }
    
    .footer-menu-item:not(:last-of-type) {
        margin-bottom: 23px;
    }
    .footer-menu {
        width: 100%;
        justify-content: space-between;
    }
    .footer-contacts-item:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

@media (max-width: 374px) {
    .nav-products {
        padding-left: 15px;
    }
    .nav-title {
        @include font-size(24px)
    }
    .menu-item {
        @include font-size(18px);
    }
    .popular-items-view {
        min-width: 120px;
        margin-right: 15px;
    }
    .sales-left, .sales-right {
        padding-right: 10px;
        padding-left: 130px;
    }
    .sales-left {
        background-position: -114px 0;
    }
}

@media (min-width: 568px) {
    .about-company-statistic {
        height: 120px;
        justify-content: space-around;
        align-items: center;
    }
    
    .news-inner .pull-left {;
        max-width: 350px;
        margin-right: 30px;
        margin-bottom: 15px;
    }
    
    .visible-667 {
        display: none;
    }
    
    .header-media-first {
        width: 347px;
        &::before {
            width: 277px;
            height: 350px;
            top: 21%;
            left: 20%;
        }
    }
    .header-down {
        left: 389px;
    }
    .header-modal {
        width: 493px;
    }
    .header-modal-inner {
        padding: 30px 25px 40px;
    }
    .header-modal-title {
        text-align: center;
    }
    
    .about-shop {
        margin-bottom: 125px;
    }
    .about-shop-content {
        padding: 9% 0 59px 7%;
        max-width: 56%;
        flex: 0 0 56%;
        &::after {
            width: 159px;
        }
    }
    .about-shop-title {
        @include font-size(30px);
    }
    .about-shop-text {
        margin-bottom: 38px;
    }
    .about-shop-media {
        padding-top: 67px;
        padding-left: 30px;
    }
    .about-shop-media-first {
        text-align: right;
    }
    
    .fashion-news .news-list {
        justify-content: space-between;
    }
    .fashion-news-title {
        margin-bottom: 85px;
    }
    .news-item-media {
        margin-bottom: 18px;
    }
    
    .title-all {
        margin: 20px 0 0 auto;
    }
    
    .header-page-panel {
        height: 120px;
        padding-top: 48px;
    }
    
    .catalog-final-more {
        padding: 44px 0 42px;
    }
    .catalog-final-more .title {
        margin-bottom: 38px;
    }
}

@media (min-width: 668px) {
    .footer-menu-list {
        padding-top: 5px;
    }
    .footer-contacts {
        flex-basis: 200px;
    }
    .not-found-wrap {
        top: -75px;
    }
}

@media (min-width: 768px) {
    .header-search-field {
        margin-right: 4%;
    }
    
    .popular-items-content {
        position: relative;
        z-index: 6;
    }
    .sales-item {
        max-width: calc(100% / 2 - 15px);
        flex: 1 1 calc(100% / 2 - 15px);
    }
    
    .catalog-item {
        margin-bottom: 53px;
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);
    }
}

@media (min-width: 920px) {
    .news-item {
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);
    }
    
    footer {
        height: 335px;
        background: #222 url(../img/bg/bg-footer.jpg) no-repeat top center;
    }
    .footer-copyright {
        padding-top: 45px;
        padding-left: 60px;
        padding-right: 60px;
        order: 2;
        flex: 1;
    }
}

@media (min-width: 1100px) {
    .checkout-content::after {
        width: 88px;
    }
    .checkout-form-total {
        padding-left: 70px;
    }
    .checkout-form-fields {
        .form-group {
            padding-left: 20px;
            padding-right: 20px;
        }
        .form-horizontal {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    
    .contacts-map {
        width: 546px;
        height: 345px;
        top: 49px;
        left: -29px;
    }
    
    .view-catalog-item a:hover {
        .arrow-right {
            width: 108px;
        }
        .view-catalog-media::before {
            background-size: 154% 128%;
        }
    }
    
    .header-page-panel .menu-active:not(.menu-catalog) {
        border-bottom: 1px solid;
    }
    
    .catalog-item-container:hover {
        .catalog-item-media {
            background-position-y: -89px;
            background-size: 354px 449px;
        }
        .catalog-item-title {
            opacity: 0;
            transform: translateY(-100%);
        }
        .catalog-item-order {
            margin-top: -50px;
            opacity: 1;
            transform: translateY(0);
        }
        .catalog-item-bottom::before {
            background-color: #C5C5C5;
        }
        .catalog-item-option-opened {
            opacity: 1;
        }
    }
    
    .catalog-item-title a {
        pointer-events: none;
    }
    
    .checkout-head-info {
        @include font-size(25px);
    }
    .checkout-head-info {
        margin-top: -130px;
    }
    
    .news-list-row {
        margin-bottom: -100px;
        margin-right: -32px;
        margin-left: -32px;
    }
    .news-item {
        margin-bottom: 100px;
    }
    .news-item-wrap {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .contacts-block {
        margin-left: auto;
        &::before {
            width: 155px;
            height: 64px;
            top: -17px;
            left: -17px;
        }
    }
    
    .about-company-statistic__count {
        @include font-size(30px);
    }
    
    .about-company-title {
        margin-bottom: 62px;
    }
    
    .visible-to-sm {
        display: none;
    }
    
    h1, .h1 {
        margin-bottom: 98px;
        @include font-size(52px);
    }
    
    h2, .h2 {
        @include font-size(30px);
    }
    
    h2, .h2 {
        @include font-size(25px);
    }
    
    .news-inner .pull-left {;
        max-width: 290px;
        margin-right: 35px;
    }
    
    .header-page .menu-item:not(.menu-active) {
        color: #fff;
    }
    
    .header-home {
        height: 100vh;
    }
    .header-home .menu-item:first-of-type {
        color: $colorWhite;
        &:hover .menu-link::after {
            background-color: $colorWhite;
        }
    }
    .menu-item {
        @include font-size(17px);
        &:not(.menu-active):hover {
            color: $colorLight;
            .menu-link::after {
                width: 100%;
                opacity: 1;
                background-color: $colorLight;
            }
            svg {
                fill: $colorLight;
            }
        }
    }
    .menu-link::after {
        width: 0;
        height: 1px;
        background-color: $colorDark;
        opacity: 0;
        position: absolute;
        content: '';
        transition: all .3s ease;
        left: 0;
        bottom: -3px;
    }
    .page .menu-link::after {
        background-color: $colorWhite;
    }
    .nav-products, .nav-title {
        display: none;
    }
    .header-nav-toggle {
        display: none;
    }
    
    .catalog-header {
        .menu-active {
            color: $colorGray;
            .menu-link {
                border-bottom: 1px solid;
            }
            .arrow-s {
                fill: $colorGray;
            }
        }
        .menu-item:not(.menu-active):hover {
            color: $colorDark;
            .menu-link::after {
                background-color: $colorDark;
            }
        }
    }
    .header-home-panel .menu-item {
        &:not(.menu-active):hover {
            color: $colorDark;
            
            svg {
                fill: $colorDark;
            }
        }
        &:not(.menu-active):hover .menu-link::after {
            background-color: $colorDark;
        }
    }
    
    .header-home-title {
        margin-top: 12px;
        line-height: 68px;
    }
    
    .header-search-area {
        padding-left: 8%;
        padding-right: 10%;
    }
    .header-search-field {
        margin-right: 11%;
    }
    .header-modal {
        width: 534px;
    }
    .header-modal-inner {
        padding: 33px 45px 40px 50px;
    }
    .catalog-panel {
        margin-bottom: 140px;
    }
    
    .view-catalog-item {
        max-width: 25%;
        flex: 1 1 25%;
    }
    .view-catalog-media {
        height: 330px;
        margin-bottom: 31px;
        img {
            max-height: 100%;
        }
        &::before {
            background-size: 107% 105%;
        }
    }
    .view-catalog-text {
        margin-bottom: 20px;
        line-height: 25px;
        @include font-size(21px);
    }
    
    .home-sales {
        height: 307px;
        padding-right: 70px;
        padding-left: 70px;
        display: flex;
    }
    .sales-left, .sales-right {
        max-width: 50%;
        padding-top: 55px;
        background-size: contain;
        flex: 1 1 50%;
    }
    .sales-left {
        padding-left: 200px;
        padding-right: 18px;
        background-position: -53px 0;
    }
    .sales-right {
        padding-left: 35px;
        padding-right: 180px;
        background-position: 105% 0;
    }
    .sales-control-left,
    .sales-control-right {
        display: none;
    }
    
    .catalog-final-title {
        margin-bottom: 77px;
    }
    .catalog-final .view-catalog {
        margin-bottom: 69px;
    }
    
    .about-shop {
        margin-bottom: 167px;
    }
    .about-shop-content {
        padding: 63px 40px 69px 82px;
        &::after {
            width: 228px;
        }
    }
    .about-shop-text {
        margin-bottom: 59px;
    }
    .about-shop-media-first {
        width: 370px;
    }
    .about-shop-media {
        padding-top: 0;
        padding-left: 52px;
    }
    .about-shop-text {
        margin-bottom: 50px;
    }
    
    .fashion-news {
        margin-bottom: 173px;
    }
    .fashion-news-title {
        margin-bottom: 90px;
        @include font-size(52px);
    }
    
    .news-item-media {
        margin-bottom: 14px;
    }
    
    .title-all {
        margin-top: 11px;
    }
    
    .popular-items-media {
        width: 336px;
        margin-left: 46px;
    }
    .popular-items-slide::before {
        height: 315px;
        top: 67px;
    }
    .popular-items-slider {
        height: 427px;
    }
    .popular-items-content {
        padding-top: 89px;
        padding-left: 32px;
    }
    .swiper-pagination {
        right: 90px;
    }
    .popular-items-prev {
        right: 110px;
    }
    .popular-items-next {
        right: 70px;
    }
    
    .popular-items-prev, .popular-items-next {
        bottom: 82px;
    }
    .popular-items-slider {
        width: 1150px;
    }
    .popular-items {
        margin-bottom: 100px;
        overflow: hidden;
    }
    .swiper-pagination {
        top: 125px;
        flex-direction: column;
    }
    .swiper-pagination-bullet {
        margin-bottom: 12px;
    }
    
    .footer-contacts {
        line-height: 24px;
        @include font-size(17px)
    }
}

@media (min-width: 1271px) {
    .filter-icon-wrap {
        display: none;
    }
    
    .catalog-header .header-page-logo {
        display: none;
    }
    
    .catalog-sidebar-head {
        display: none;
    }
}

@media (min-width: 1340px) {
    .menu-item {
        letter-spacing: 0.42px;
    }
    
    .checkout-content::after {
        width: 228px;
    }
    .checkout-form-total {
        padding-left: 155px;
    }
    .checkout-form-fields {
        .form-group {
            padding-left: 30px;
            padding-right: 30px;
        }
        .form-horizontal {
            margin-left: -30px;
            margin-right: -30px;
        }
    }
    
    .customer-shipping-address {
        padding-right: 50px;
    }
    
    .contacts-map {
        width: 650px;
        height: 411px;
        top: 8px;
        left: -34px;
    }
    
    .header-page-panel {
        max-width: 1600px;
    }
    
    .might-like .catalog-item {
        max-width: calc(100% / 4);
        flex-basis: calc(100% / 4);
    }
    
    .contacts-block {
        max-width: 409px;
        margin-right: 40px;
        box-shadow: 40px 30px 0 #F9F9F9;
    }
    
    .about-company-statistic {
        margin-bottom: 55px;
    }
    
    .news-inner .pull-left {
        max-width: 345px;
    }
    .header-home-left {
        width: 565px;
        flex: 0 0 565px;
    }
    .header-home-title {
        line-height: 80px;
        @include font-size(84px);
    }
    .header-media-first {
        width: 350px;
        margin: 0 auto;
        &::before {
            width: 313px;
            height: 465px;
            top: 17%;
            left: 20%;
        }
    }
    .header-home-title {
        margin-top: 40px;
    }
    .header-down {
        left: 709px;
    }
    .header-search-area {
        padding-left: 13%;
        padding-right: 7%;
    }
    .header-search-field {
        margin-right: 14%;
    }
    .header-modal {
        width: 665px;
    }
    .header-modal-inner {
        padding-left: 100px;
        padding-right: 100px;
    }
    .view-catalog-media {
        height: 400px;
    }
    .catalog-panel {
        margin-bottom: 117px;
    }
    .view-catalog-text {
        @include font-size(25px);
    }
    
    .container, .container-fluid {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .home-sales {
        height: 365px;
    }
    
    .sales-left, .sales-right {
        background-size: contain;
    }
    .sales-left {
        padding-top: 81px;
        padding-left: 260px;
        padding-right: 60px;
        background-position: -61px 0;
    }
    .sales-right {
        padding-top: 81px;
        padding-left: 55px;
        padding-right: 19%;
        background-position: 105% 0;
    }
    
    .catalog-final-title {
        margin-bottom: 80px;
    }
    .catalog-final .view-catalog {
        margin-bottom: 75px;
    }
    .catalog-final-more {
        padding: 67px 0 60px;
    }
    .catalog-final-more .title {
        margin-bottom: 45px;
    }
    
    .about-shop {
        margin-bottom: 178px;
    }
    .about-shop-content {
        padding: 63px 60px 70px 82px;
        max-width: calc(50% - 63px);
    }
    .about-shop-media {
        margin-left: auto;
        padding-top: 0;
        padding-left: 0;
    }
    
    .fashion-news-title {
        margin-bottom: 113px;
    }
    
    .popular-items-media {
        width: 358px;
        margin-left: 50px;
    }
    .popular-items-slide::before {
        height: 337px;
        top: 73px;
    }
    .popular-items-slider {
        height: 458px;
    }
    .popular-items-content {
        padding-left: 96px;
    }
    .popular-items-prev, .popular-items-next {
        bottom: 112px;
    }
    
    .footer-contacts {
        flex-basis: 309px;
        padding-left: 78px;
    }
    
    .footer-menu-list:first-of-type {
        margin-right: 100px;
    }
}

@media (min-width: 1600px) {
    .customer-shipping-address {
        padding-right: 85px;
    }
    .checkout-content {
        padding-left: 50px;
    }
    
    .contacts-map {
        width: 870px;
        height: 551px;
        top: -19px;
        left: 7px;
    }
    
    .product-page-head {
        padding-left: 240px;
    }
    
    .header-media-first {
        width: 400px;
    }
    
    .fashion-news-item:not(:first-of-type):not(:last-of-type) {
        margin-top: -11px;
        flex-basis: 447px;
    }
    
    .fashion-news-item:first-of-type, .fashion-news-item:last-of-type {
        flex-basis: 424px;
    }
    
    .contacts-map .pin {
        width: 40px;
        height: 40px;
    }
    
    .about-company-media {
        margin: 0 102px 0 30px;
    }
    .about-company-content {
        padding-left: 476px;
        padding-top: 13px;
    }
    
    .news-inner {
        padding-left: 118px;
        padding-right: 116px;
    }
    
    .news-inner .pull-left {
        max-width: 422px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
    
    .news-inner-head .link-back {
        left: -118px;
    }
    
    .header-home-logo {
        margin-right: 312px;
    }
    .menu-item:not(:last-child) {
        margin-right: 8%;
    }
    .header-down {
        left: 788px;
    }
    .header-search-area {
        padding-left: 16%;
        padding-right: 6%;
    }
    .header-search-field {
        margin-right: 22%;
    }
    .catalog-panel {
        margin-bottom: 80px;
    }
    .view-catalog-media {
        height: 510px;
    }
    .catalog-panel-all {
        margin-right: 85px;
    }
    .catalog-panel-arrow {
        right: -10px;
    }
    
    .sales-all span:not(.sales-all-text) {
        display: none;
    }
    .sales-left, .sales-right {
        background-size: auto;
    }
    .sales-left {
        padding-left: 310px;
        padding-right: 85px;
        background-position: 0 0;
    }
    .sales-right {
        padding-left: 139px;
        padding-right: 300px;
        background-position: 99% 0;
    }
    
    .view-catalog-arrow {
        left: -7px;
        top: 2px;
    }
    
    .catalog-final-title {
        text-align: center;
        margin-bottom: 67px;
    }
    .catalog-final .view-catalog {
        margin-bottom: 94px;
    }
    
    .about-shop-content {
        padding: 63px 60px 80px 82px;
        max-width: calc(50% - 19px);
    }
    .about-shop-media {
        max-width: 47%;
    }
    .about-shop-media-second {
        right: 24px;
    }
    
    .popular-items-slider {
        margin-left: 89px;
    }
    .swiper-pagination {
        right: 196px;
    }
    .popular-items-prev {
        right: 218px;
    }
    .popular-items-next {
        right: 174px;
    }
    
    .sales-item {
        &:nth-child(odd) {
            padding-left: 310px;
            padding-right: 85px;
            .sales-item-img {
                left: 7%;
            }
            
        }
        &:nth-child(even) {
            padding-left: 124px;
            padding-right: 300px;
            .sales-item-img {
                right: 7%;
            }
        }
    }
    
    .footer-contacts {
        padding: 0 50px 0 39px;
    }
    
}

@media (min-width: 1920px) {
    .catalog-item {
        margin-bottom: 80px;
        max-width: 25%;
        flex-basis: 25%;
    }
    
    .header-modal-inner {
        background-size: cover;
    }
    .header-home-logo {
        margin-right: 293px;
    }
    .header-media-first {
        width: 400px;
        margin: 0 auto 0 241px;
        &::before {
            width: 350px;
            top: 21%;
        }
    }
    .header-media-second {
        width: 330px;
    }
    .header-home-title {
        margin-top: -20px;
    }
    .header-search-area {
        padding-left: 19%;
        padding-right: 96px;
    }
    
    .catalog-panel {
        margin-bottom: 145px;
    }
    .catalog-panel-all {
        margin-right: 100px;
    }
    .catalog-panel-arrow {
        right: 0;
    }
    
    .about-shop {
        margin-bottom: 178px;
    }
    
    .view-catalog-media::before {
        background-size: 94% 104%;
    }
    .about-shop-text {
        margin-bottom: 60px;
    }
    .news-item-media {
        margin-bottom: 18px;
    }
    .fashion-news {
        margin-bottom: 174px;
    }
}

@media (min-width: 461px) and (max-width: 667px) {
    .news-list-row {
        margin-bottom: -45px;
        margin-right: -15px;
        margin-left: -15px;
    }
    .news-item {
        margin-bottom: 45px;
    }
    .news-item-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 461px) and (max-width: 919px) {
    .news-item {
        max-width: calc(100% / 2);
        flex-basis: calc(100% / 2);
    }
}

@media (min-width: 414px) and (max-width: 1099px) {
    .footer-menu-list:first-of-type {
        margin-right: 60px;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .contacts-block {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .sales-item:nth-child(odd) .sales-item-img {
        left: -11%;
    }
    .catalog-item {
        max-width: 50%;
    }
}

@media (min-width: 568px) and (max-width: 949px) {
    .catalog-item-option {
        bottom: -38px;
    }
    .catalog-item-option-wrap {
        flex-wrap: wrap;
    }
    .catalog-item-option label:not(.input) {
        white-space: nowrap;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 668px) and (max-width: 1099px) {
    .news-list-row {
        margin-bottom: -60px;
        margin-right: -20px;
        margin-left: -20px;
    }
    .news-item {
        margin-bottom: 60px;
    }
    .news-item-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 439px) {
    .fashion-news-item:not(:first-of-type) {
        display: none;
    }
}

@media (min-width: 440px) and (max-width: 839px) {
    .fashion-news-item {
        flex: 1 1 calc(100% / 2 - 15px);
        max-width: calc(100% / 2 - 15px);
    }
}

@media (min-width: 568px) and (max-width: 1099px) {
    .contacts-form {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .ui-group {
            margin-bottom: 12px;
            max-width: 46%;
            flex-basis: 46%;
        }
        .btn-black {
            margin: 0 auto;
        }
    }
    .contacts-form-title {
        width: 100%;
        margin-bottom: 71px;
    }
    
    .contacts-block {
        display: flex;
        flex-wrap: wrap;
        &::before {
            width: 124px;
            height: 63px;
            top: -15px;
            left: -15px;
        }
    }
    .contacts-block-item {
        max-width: 50%;
        flex-basis: 50%;
        &:last-of-type {
            order: 4;
        }
        &:nth-of-type(2) {
            order: 3;
        }
    }
    
    h1, .h1 {
        margin-bottom: 50px;
    }
    
    .header-home {
        height: 790px;
        overflow: hidden;
        &::before {
            width: 368px;
        }
    }
    .header-home-logo {
        margin-right: 127px;
    }
    .header-home-left {
        flex: 0 0 348px;
    }
    .header-home-title {
        margin-top: 20px;
        margin-bottom: 40px;
        line-height: 50px;
        @include font-size(52px);
    }
    
    .sales-all {
        width: 70px;
        height: 307px;
        min-width: 0;
        background-color: #F9F9F9;
        color: #2A2928;
        font-weight: 400;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 0;
        border: 0;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include font-size(30px);
    }
    .sales-all-text {
        display: none;
    }
    
    .sales-left, .sales-right {
        width: calc(100% - 100px);
        left: 85px;
    }
    .view-catalog-item {
        max-width: 50%;
        flex: 1 1 50%;
        margin-bottom: 57px;
    }
    
    .fashion-news {
        margin-bottom: 135px;
    }
    
    .instagram-left {
        max-width: 30%;
        flex: 1 1 30%;
        .second {
            top: 0;
            right: 53%;
            position: absolute;
        }
    }
    .instagram-right {
        max-width: 30%;
        flex: 1 1 30%;
        .second {
            top: 0;
            left: 51%;
            position: absolute;
        }
    }
    
    .sales-item {
        padding-right: 15px;
        padding-top: 70px;
        
        .sales-title {
            @include font-size(18px);
        }
        .sales-price-cost {
            @include font-size(32px)
        }
    }
    .sales-item:nth-child(even) {
        .sales-item-img {
            left: -20%;
            transform: scale(-1, 1);
        }
    }
    .sales-item-img {
        width: 230px;
    }
    
    .header-home-text {
        margin-bottom: 50px;
    }
    .header-down {
        left: 405px;
    }
    
    .header-media-first {
        width: 100%;
        max-width: 357px;
        bottom: -10px;
        right: -18px;
    }
    .sales-control-right {
        right: 48px;
    }
    
    .catalog-final-title {
        margin-bottom: 65px;
    }
    .catalog-final {
        margin-bottom: 137px;
    }
}

@media (min-width: 568px) and (max-width: 1339px) {
    .about-shop-media-second {
        display: none;
    }
}

@media (min-width: 568px) and (max-width: 1270px) {
    .catalog-item-view {
        min-width: 0;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        border: 0;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            background-color: transparent;
            color: $colorGray;
        }
    }
}

@media (min-width: 768px) and (max-width: 1339px) {
    .sales-item {
        height: 307px;
    }
}

@media (min-width: 668px) and (max-width: 919px) {
    .footer-menu {
        margin-left: 7%;
    }
    .footer-contacts {
        margin-right: 7%;
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .catalog-item-media {
        background-size: 15vh 18vh;
    }
    
    .catalog-item {
        height: 50vw;
        max-height: 90vh;
    }
    .catalog-item-media {
        height: 36vw;
    }
    
    .view-catalog {
        justify-content: space-between;
    }
    .view-catalog-item {
        height: 22.625vw;
        max-height: 90vh;
        margin-bottom: 57px;
        overflow: hidden;
    }
    .view-catalog-media {
        margin-bottom: 0;
        margin-left: 0;
        width: 45vw;
        height: 22.625vw;
        max-height: 100%;
        max-width: 45vh;
        display: block;
        img {
            margin-left: 0;
            bottom: 0;
        }
    }
    .view-catalog-title {
        top: 9vw;
        left: 17vw;
    }
    .view-catalog-media::before {
        background-size: 23vw;
    }
    
    .checkout-head {
        padding-left: 215px;
        .link-back {
            top: 17px;
            left: 50px;
            display: block;
            transform: translateY(0);
        }
    }
    
    .product-close {
        top: -4px;
        right: 5px;
    }
    .product-info {
        padding-right: 55px;
    }
    .product-list {
        margin-bottom: 27px;
    }
    
    .sales-item:nth-child(odd) {
        padding-left: 155px;
    }
    .sales-item:nth-child(odd) {
        .sales-item-img {
            left: -16%;
        }
    }
    .sales-item:nth-child(even) {
        padding-left: 150px;
    }
}

@media (min-width: 920px) and (max-width: 1099px) {
    .fashion-news .news-list {
        justify-content: space-around;
    }
    .sales-item:nth-child(even) .sales-item-img {
        left: -17%;
    }
    .sales-item:nth-child(odd) .sales-item-img {
        left: -15%;
    }
}

@media (min-width: 840px) and (max-width: 1599px) {
    .fashion-news-item {
        &:not(:first-of-type):not(:last-of-type) {
            flex-basis: 32%;
            .news-item-media {
                margin-top: -3%;
            }
        }
        &:first-of-type,
        &:last-of-type {
            flex-basis: 30%;
        }
    }
}

@media (min-width: 1100px) and (max-width: 1599px) {
    .about-company-media {
        margin-right: 45px;
    }
    
    .home {
        .menu-item:nth-of-type(2) {
            color: $colorWhite !important;
            &:hover .menu-link {
                &::after,
                &::before {
                    background-color: $colorWhite;
                }
            }
        }
        .menu-catalog .arrow-s {
            fill: $colorWhite !important;
        }
    }
    
    .sales-all {
        display: none;
    }
    
    .catalog-final {
        margin-bottom: 180px;
    }
    
    .sales-item:nth-child(odd) .sales-item-img {
        left: -5%;
    }
}

@media (min-width: 1100px) and (max-width: 1270px) {
    .catalog-sidebar-fixed {
        position: relative;
    }
    
    .catalog-head {
        padding-left: 51px;
    }
    .filter-icon-wrap {
        width: 130px;
        left: -100px;
    }
}

@media (min-width: 1100px) and (max-width: 1339px) {
    .checkout-info {
        padding-left: 50px;
    }
    
    .product-page-head {
        padding-left: 160px;
    }
    
    .contacts-block {
        max-width: 383px;
    }
    
    .about-company-media {
        max-width: 289px;
    }
    .about-company-content {
        padding-left: 329px;
    }
    .about-company-statistic {
        margin-bottom: 40px;
    }
    
    .news-inner-head {
        padding-left: 165px;
    }
    
    .container, .container-fluid {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .header-home::before {
        width: 534px;
    }
    .header-home-logo {
        margin-right: 80px;
    }
    .menu-item:not(:last-of-type) {
        margin-right: 35px;
    }
    .header-home-left {
        width: 465px;
        flex: 0 0 465px;
    }
    .header-home-title {
        @include font-size(72px);
    }
    .header-down {
        left: 585px;
    }
    
    .product-list {
        width: calc(100% + 60px);
    }
    .product-info {
        padding-right: 65px;
    }
    
    .instagram-left {
        max-width: 326px;
        flex: 1 1 326px;
    }
    
    .instagram-right {
        max-width: 323px;
        flex: 1 1 323px;
    }
    
    .header-page-logo {
        margin-right: 71px;
    }
    .catalog-header, .header-page {
        .menu-item:not(:last-child) {
            margin-right: 6%;
        }
    }
    
    .sales-item {
        padding-top: 69px;
    }
    .sales-item:nth-child(odd) {
        padding-left: 202px;
        padding-right: 15px;
    }
    .sales-item:nth-child(even) {
        padding-left: 30px;
        padding-right: 200px;
    }
    .sales-item:nth-child(even) .sales-item-img {
        right: -3%;
    }
    .sales-item-img {
        width: 230px;
    }
    
    .footer-menu-list:first-of-type {
        margin-right: 59px;
    }
    .footer-contacts {
        flex-basis: 268px;
        padding-left: 50px;
    }
    .footer-copyright {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (min-width: 1100px) and (max-width: 1499px) {
    .catalog-item-option {
        width: 320px;
    }
}

@media (min-width: 1271px) and (max-width: 1599px) {
    .catalog-sidebar {
        padding-left: 70px;
        max-width: 371px;
        flex: 0 0 371px;
    }
    .catalog-header {
        margin-bottom: 77px;
    }
    .catalog-item-media {
        height: 277px;
    }
}

@media (min-width: 1340px) and (max-width: 1599px) {
    .simplecheckout-block-content {
        padding-right: 50px;
    }
    
    .about-company-content {
        padding-left: 389px;
    }
    
    .news-inner-head {
        padding-left: 195px;
    }
    
    .header-home-logo {
        margin-right: 135px;
    }
    .menu-item:not(:last-of-type) {
        margin-right: 60px;
    }
    
    .popular-items-content {
        padding-left: 75px;
    }
    .swiper-pagination {
        right: 118px;
    }
    .popular-items-next {
        right: 96px;
    }
    .popular-items-prev {
        right: 141px;
    }
    
    .header-page-logo {
        margin-right: 95px;
    }
    .catalog-header, .header-page {
        .menu-item:not(:last-child) {
            margin-right: 8%;
        }
    }
    
    .sales-item:nth-child(odd) {
        padding-left: 260px;
    }
    .sales-item:nth-child(even) {
        padding-left: 38px;
        padding-right: 285px;
    }
    .sales-item:nth-child(even) .sales-item-img {
        right: -2%;
    }
    .sales-item:nth-child(odd) .sales-item-img {
        left: -1%;
    }
    .fashion-news {
        margin-bottom: 180px;
    }
}
