@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "common/common";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/view-catalog";
@import "blocks/home-sales";
@import "blocks/catalog-final";
@import "blocks/about-shop";
@import "blocks/news";
@import "blocks/fashion-news";
@import "blocks/instagram-block";
@import "blocks/popular-items";
@import "blocks/header-page";
@import "blocks/sales-list";
@import "blocks/catalog";
@import "blocks/catalog-sidebar";
@import "blocks/added-bag";
@import "blocks/not-found";
@import "blocks/about-company";
@import "blocks/news-inner";
@import "blocks/checkout";
@import "blocks/contacts";
@import "blocks/product-page";

.fixed {
    position: fixed;
}

.page::before {
    top: 90px;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.title-all {
    text-transform: uppercase;
    font-weight: 400;
    color: $colorGray;
    text-decoration: none;
    align-self: flex-start;
    @include font-size(22px);
    .arrow-right {
        right: -7px;
        left: auto;
        &::before {
            width: 69px;
            right: 10px;
            top: 9px;
            position: absolute;
            background-color: $colorGray;
        }
        &::after {
            border-right-color: $colorGray;
            border-bottom-color: $colorGray;
        }
    }
    
    &:hover {
        color: $colorDark;
        .arrow-right {
            &::before {
                background-color: $colorDark;
            }
            &::after {
                border-right-color: $colorDark;
                border-bottom-color: $colorDark;
            }
        }
    }
}

.page-content {
    margin-bottom: 180px;
    position: relative;
    z-index: 15;
}

.not-more-block {
    padding-bottom: 50px;
    text-align: center;
    font-weight: 400;
    color: $colorGray;
    @include font-size(25px)
}
