@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
@import "common/common";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/view-catalog";
@import "blocks/home-sales";
@import "blocks/catalog-final";
@import "blocks/about-shop";
@import "blocks/news";
@import "blocks/fashion-news";
@import "blocks/instagram-block";
@import "blocks/popular-items";
@import "blocks/header-page";
@import "blocks/sales-list";

/*
@import "common/checkbox-radio";
*/

.page::before {
    top: 90px;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.title-all {
    text-transform: uppercase;
    font-weight: 600;
    color: $colorGray;
    font-size: 1.375rem;
    align-self: flex-start;
    .arrow-right {
        right: -7px;
        left: auto;
        &::before {
            width: 69px;
            right: 10px;
            top: 9px;
            position: absolute;
            background-color: $colorGray;
        }
        &::after {
            border-right-color: $colorGray;
            border-bottom-color: $colorGray;
        }
    }
    
    &:hover {
        margin-top: 37px;
        color: $colorDark;
        .arrow-right {
            &::before {
                background-color: $colorDark;
            }
            &::after {
                border-right-color: $colorDark;
                border-bottom-color: $colorDark;
            }
        }
    }
}

.page-content {
    margin-bottom: 180px;
    position: relative;
    z-index: 15;
}

.page-content-title {
    margin-bottom: 62px;
    font-weight: 400;
    color: $colorDark;
}

.not-found {
}

.not-found-logo {
}

.not-found-error {
}

.not-found-title {
}

.not-found-text {
}

.contact-wrap {
}

.contact-block {
    &::before {
    }
    a {
    }
}

.contact-block-item {
}

.contact-block-small {
}

.contact-block-order {
}

.contact-block-email {
}

.contact-map {
}

.back-arrow {
}

.checkout-head {
}

.checkout-head-info {
}

.checkout-head-cost {
}

.checkout-wrap {
}

.checkout-content {
}

.checkout-side {
}

.checkout-info {
}

.checkout-info-block {
}

.checkout-info-title {
}

.checkout-info-point {
}

.checkout-info-label {
}

.checkout-form {
}

.checkout-form-title {
}

.checkout-form-fields {
}

.checkout-form-total {
}

.catalog {
    height: 100%;
    display: flex;
    .header-page-logo {
        display: none;
    }
    .header-page {
        background-color: transparent;
    }
    .icon-basket::before {
        color: #fff;
    }
}

.catalog-sidebar {
    padding: 48px 50px 50px 100px;
    max-width: 400px;
    height: inherit;
    background: #212121 url(../img/bg/bg-catalog-sidebar.jpg) no-repeat top center;
    color: #fff;
    position: relative;
    z-index: 30;
    flex: 0 0 400px;
}

.catalog-sidebar-logo {
    width: 174px;
    margin-bottom: 133px;
}

.box-heading, .mfilter-heading {
    margin-bottom: 37px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 400;
    line-height: 1;
    @include font-size(25px);
}

.list-group {
    margin-bottom: 77px;
    display: inline-flex;
    flex-direction: column;
    .active {
        color: #F3F0EE;
        &::after {
            width: 100%;
            height: 1px;
            bottom: -1px;
            left: 0;
            background-color: #fff;
            position: absolute;
            content: '';
        }
    }
}

.list-group-item {
    color: #F3F0EE;
    font-weight: 400;
    line-height: 1;
    position: relative;
    align-self: flex-start;
    @include font-size(18px);
    &:not(:last-of-type) {
        margin-bottom: 29px;
    }
    &:not(.active):hover {
        color: $colorGray;
    }
}

.mfilter-box {
    .box-heading, .mfilter-head-icon, .fa {
        display: none;
    }
    ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }
    .form-control {
        width: 100px;
        height: 40px;
        padding-left: 14px;
        background: $colorDark;
        border: 0;
        border-bottom: 1px solid #3F3F3F;
        color: #fff;
        font-weight: 400;
        transition: all 0.3s ease;
        @include font-size(16px);
        
        @include hidePlaceholder {
            opacity: 1;
            color: $colorGray;
            transition: opacity 0.3s ease;
            font-weight: 400;
            @include font-size(18px);
        }
        &:focus {
            border-bottom: 1px solid #fff;
            @include hidePlaceholder {
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
    }
}

.mfilter-tb {
    display: flex;
    align-items: center;
}

.mfilter-option {
    &:not(:last-of-type) {
        margin-right: 40px;
    }
    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }
}

.mfilter-tb-as-td {
    line-height: 1;
    color: #F3F0EE;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    @include font-size(18px);
}

.mfilter-input-active label.mfilter-tb-as-td {
    border-bottom-color: #fff;
}

.mfilter-col-count, .mfilter-price-slider {
    display: none;
}

.mfilter-filter-item {
    &:not(:last-of-type) {
        margin-bottom: 72px;
        margin-right: 0;
    }
}

.mfilter-price .mfilter-heading {
    margin-bottom: 42px;
}

#mfilter-opts-price-min {
    margin-right: 6px;
}

#mfilter-opts-price-max {
    margin-left: 6px;
}

/* .catalog-wrap */
.catalog-wrap {
    position: relative;
    z-index: 10;
    order: 2;
    flex: 1 0 auto;
}

.catalog-content {
}











