$colorDark: #2A2928;
$colorGray: #939190;
$colorLight: #C5C5C5;
$colorWhite: #FFFFFF;

// Z-index master list
$popular-items:        35 !default;
$home-sales:           4 !default;
$catalog-final:        4 !default;
$fashion-news:         4 !default;
$instagram-block:      4 !default;
$header-page:         33 !default;
$header-page-panel:   10 !default;
$footer:              30 !default;
